html,
body {
	margin: 0;
	background: #090f1f;
}

/* Hide increase and decrease arrows in number input fields */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	margin: 0;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

input[type='number'] {
	appearance: textfield;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
}

/* Override the browser default and customize the scrollbar (slim width, matching color) for input[type='number'] tags */
body,
textarea {
	--sb-track-color: #8da7ff40;
	--sb-thumb-color: #9eb4fbbd;
	--sb-size: 4px;
}

body {
	--sb-size: 6px;
}

body::-webkit-scrollbar,
textarea::-webkit-scrollbar {
	width: var(--sb-size);
}

body::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
	background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 2px;
	border: 0.5px solid #9eb4fb;
}

@supports not selector(::-webkit-scrollbar) {
	body,
	textarea {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}
