html,
body {
	margin: 0;
	background: #090f1f;
}

/* hide increase and decrease arrows in number input fields */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	margin: 0;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

input[type='number'] {
	appearance: textfield;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
}
